<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <title>具体体检项目明细</title>
    <style>
        hr.style-two {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
    </style>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-top: 45%;">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">基础项目</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">其他项目</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">妇科</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">泌尿</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" style="margin-top: 10%;">
                <div class="form-check">
                    <label class="form-check-label" for="defaultCheck1">
                        血常规
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="display: inline-block;right: 44%;">
                </div>
                <hr/>
                <div class="form-check">
                    <label class="form-check-label" for="defaultCheck2">
                        体检尿常规
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" style="display: inline-block;right: 44%;">
                </div>
                <hr/>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style="margin-top: 10%;">

                    <div class="form-check">
                        <label class="form-check-label" for="defaultCheck3">
                            营养早餐
                        </label>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" style="display: inline-block;right: 44%;">
                    </div>
                <hr/>
                <div class="form-check">
                    <label class="form-check-label" for="defaultCheck4">
                        内外科常规检查
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" style="display: inline-block;right: 31%;">
                </div>
                <hr/>
            </div>

            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" style="margin-top: 10%;">
                <div class="form-check">
                    <label class="form-check-label" for="defaultCheck5">
                        彩超乳腺
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5" style="display: inline-block;right: 44%;">
                </div>
                <hr/>
                <div class="form-check">
                    <label class="form-check-label" for="defaultCheck6">
                        彩超触诊
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6" style="display: inline-block;right: 44%;">
                </div>
                <hr/>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" style="margin-top: 10%;">
                <div class="form-check">
                    <label class="form-check-label" for="defaultCheck7">
                        彩超前列腺
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7" style="display: inline-block;right: 44%;">
                </div>
                <hr/>
                <div class="form-check">
                    <label class="form-check-label" for="defaultCheck8">
                        彩超阑尾
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8" style="display: inline-block;right: 44%;">
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>
</div>


<!--style="height: 10%;"-->
<div class="card fixed-bottom col-lg-4 col-lg-offset-4">
    <div class="card-body">
        <h6 class="card-text">共4个项目</h6>
        <p class="card-text">个人支付</p>
        <p class="float-right" style="margin-top: -14%;margin-right: 52%;">6070.36</p>
        <div class="float-right" style="margin-top: -17%;margin-right: -72%;">
            <a href="#" onclick="window.location.href='appo.html'">
                立即预约
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>