<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>团队信息录入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
        .container, .container-md, .container-sm {
            max-width: 100%;
        }
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
            width: 100%;
            padding-right: 0px;!important;
            padding-left: 0px;!important;
            margin-right: auto;
            margin-left: auto;
        }

    </style>
</head>
</head>
<body>
<div class="container">
    <div class="card fixed-top col-lg-4 col-lg-offset-4">
        <div class="card-body" >
            <h3 class="card-text" style="padding-bottom: 6%;">团队预约信息填入</h3>
            <!--登录表单-->
            <form class="form-horizontal">
                <div class="control-group" style="padding-bottom: 6%;">
                    <label class="control-label" for="inputEmail">团队名称</label>
                    <div class="controls"style="display: inline-block;">
                        <input type="text" id="inputEmail" placeholder="例:泰兴市中国人民银行">
                    </div>
                </div>
                <div class="control-group" style="padding-bottom: 6%;">
                    <label class="control-label" for="inputPassword">预约人数</label>
                    <div class="controls" style="display: inline-block;">
                        <input type="password" id="inputPassword" placeholder="请输入预约人数">
                    </div>
                </div>
                <div class="control-group" style="padding-bottom: 6%;">
                    <label class="control-label" for="phone">联系电话</label>
                    <div class="controls" style="display: inline-block;">
                        <input type="password" id="phone" placeholder="请输入联系电话">
                    </div>
                </div>
                <div class="control-group" style="padding-bottom: 6%;">
                    <label class="control-label" for="inputdenyid">获取验证码</label>
                    <div class="controls" style="display: inline-block;margin-left: 5%;">
                        <input type="password" id="inputdenyid" placeholder="请输入验证码">
                    </div>
                </div>
                <div class="control-group" style="padding-bottom: 6%;">
                    <button type="button" class="btn btn-primary btn-lg" style="margin-left: 28%;" onclick="window.location.href='http://47.97.122.233:28090/course/weChatPage/pageNav'">开始预约</button>
                </div>
            </form>


        </div>
    </div>


</div>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>